body{
    background-color: cyan;
}

.pomodoro{
    text-align: center;
    margin-top: 180px;
}
h3{
    font-size: 40px;
}
input{
    font-size: 25px;
    border-radius: 10px;
    background: none;
}
button{
    border-radius: 3px;
    height: 30px;
    width: 80px;
    color: white;
    background-color: black;
}
h1{
    margin-bottom: 20px;
    font-size: 60px;
}